/* CSS Resets */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Hero section */
  .header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-simple-summer-tourism-travel-image_9073.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .header img {
    width: 200px;
    float: left;
  }
  
  .login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background: transparent;
    color: #ffffff;
    float: right;
  }
  
  .header h1 {
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
  }
  
  .header p {
    margin: 18px 0;
  }
  
  .input-group {
    width: 90% !important;
    max-width: 500px;
    border-radius: #ffffff;
    margin: auto;
    padding: 2px;
  }
  
  .form-control {
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
  }
  
  .input-group-text {
    width: 100px;
    background-image: linear-gradient(#00ff7e, #1f3d90);
    border: 0 !important;
    color: #ffffff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
  }
  
  .input-group-append .btn {
    margin-left: 15px !important;
  }
  
  /* Featured destinations css */
  
  .features {
    padding: 100px 0;
  }
  
  .feature-box {
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
  }
  
  h1 {
    text-align: center;
    border-bottom: 20px;
  }
  
  .feature-img {
    position: relative;
  }
  
  .feature-img img {
    width: 100%;
  }
  
  .price {
    width: 70px;
    height: 70px;
    background: #ff5722;
    color: #ffffff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
  }
  .price p {
    margin-top: 10px;
  }
  
  .rating {
    padding: 3px;
    float: right;
    background: #ffffff;
    bottom: -1px;
    right: 0;
    position: absolute;
  }
  
  .fas,
  .far {
    font-size: 15px;
    color: #ff5722;
  }
  
  .feature-details {
    padding: 20px;
    text-align: justify;
  }
  
  .feature-details h4 {
    font-weight: 600;
    margin-top: 20px;
  }
  .feature-details .fas {
    margin-right: 5px;
  }
  
  /* Gallery css */
  
  .gallery {
    padding: 100px 0;
    background: #efefef;
  }
  .gallery-box {
    position: relative;
    margin-bottom: 30px;
  }
  .gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .gallery-box img:hover {
    transform: scale(1.1);
  }
  .gallery-box h4 {
    display: block;
    color: #ffffff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* CTA css */
  
  .banner {
    height: 80vh;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-simple-summer-tourism-travel-image_9073.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
  }
  
  .banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #ffffff;
  }
  .booking-btn {
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background: transparent;
    color: #ffffff;
    margin-top: 30px;
  }
  
  /* Review section css */
  
  .users-feedback {
    padding: 100px 0;
  }
  
  .users-feedback h1 {
    margin-bottom: 40px;
  }
  
  .user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
  }
  
  .user-review p {
    padding: 40px 10px 10px 10px;
  }
  
  .users-feedback img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
  }
  
  .user-review p::before {
    content: "\201d";
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
  }
  
  /* Footer section css */
  
  .footer {
    padding: 100px 20px 10px;
    background-image: linear-gradient(#2d557d, #9610fd);
    color: #ffffff;
  }
  
  .footer-logo {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .footer p {
    font-size: 14px;
    text-align: left;
    padding-right: 35px;
  }
  
  p > .fas {
    color: #ffffff;
  }
  
  .footer .row .fas,
  .fab {
    padding-right: 15px;
    font-size: 15px;
  }
  
  .footer hr {
    margin-top: 10px;
    background: #efefef;
  }
  
  .footer .copyright {
    text-align: center;
  }
  